<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单</title>
</head>
<body>
    <div id="app">
        姓：<input type="text" v-model="firstName">
        <br>
        名：<input type="text" v-model="lastName">
        <br>
        <!-- fullName是根据firstName和lastName计算产生 -->
        姓名1（单向）：<input type="text" placeholder="full name" v-model.lazy.trim="fullName1">
        <br>
        姓名2（单向）：<input type="text" placeholder="full name" v-model.lazy.trim="fullName2">
        <br>
        姓名3（双向）：<input type="text" placeholder="full name" v-model.lazy.trim="fullName3">
        <br>
        姓名4（侦听）：<input type="text" placeholder="full name" v-model.lazy.trim="fullName4">
    </div>

     <!-- 引入vue.js开发环境版本，包含了有帮助的命令行警告 -->
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                firstName:"王",
                lastName:"二",
                fullName3:"王 小二",
                fullName4:"王 小二",
            },
            //计算属性配置：值为对象，会缓存
            computed:{
                // 属性的get()
                fullName2:function(){
                    console.log("计算1次");
                    return this.firstName+" "+this.lastName;

                },
                fullName3:{
                    get:function(){
                        console.log("计算1次");
                        return this.firstName+" "+this.lastName;
                    },
                    set:function(value){
                        console.log(value);
                        var arr=value.split(" ");
                        this.firstName=arr[0];
                        this.lastName=arr[1];
                    }
                }
            } ,
            watch:{
                firstName:function(newVal,oldVal){
                    this.fullName4=this.firstName+" "+this.lastName;
                },
               lastName:function(newVal,oldVal){
                    this.fullName4=this.firstName+" "+this.lastName;
                },

            },
           
        })
        vm.$watch('lastName',function(value){
            console.log('$watch lastName',value)
            this.fullName4=this.firstName+'_'+this.lastName
        })
    </script>
</body>
</html>